PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:4000
CLIENT_URL=http://localhost:4000
ENABLE_FE_PROXY=true
FRONTEND_DEV_URL=http://localhost:5173
DATABASE_URL="postgresql://username:yourpassword@host:5432/sefirah?schema=public"
JWT_SECRET=
GOOGLE_CLIENT_ID=1...6.apps.googleusercontent.com
GOOGLE_SECRET=G...I
GITHUB_CLIENT_ID=O...h
GITHUB_CLIENT_SECRET=c...c